
.slider__one{
    background-image: url("../../assets/images/10001.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}
.slider__two{
    background-image: url("../../assets/images/10002.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}
.slider__three{
    background-image: url("../../assets/images/10003.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.hero__info{
    display: flex;
    align-items: center;
    min-height: 600px;
}

.hero h1{
    font-size: 65px !important;
    font-weight: 800;
    text-transform: capitalize;
}


.main-sec{
    background-image: url("../../assets/images/verify_img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;

}